.button9,
.icon13 {
  position: absolute;
  bottom: 29.8px;
  left: 34.5px;
  width: 79.2px;
  height: 39.6px;
}
.button9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  height: 98.08%;
  width: 9.18%;
  top: 1.92%;
  right: 90.82%;
  bottom: 0;
  left: 0;
}
.button10,
.vector-icon8 {
  position: absolute;
  top: 37px;
  right: 49px;
  width: 27px;
  height: 29.9px;
}
.button10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  height: 100%;
  width: 7.75%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 92.25%;
}
.div33 {
  position: relative;
  font-weight: 300;
  cursor: pointer;
}
.header2,
.nav2 {
  position: absolute;
}
.nav2 {
  margin: 0;
  top: 50px;
  left: 401.5px;
  width: 809px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cascadia-code);
}
.header2 {
  top: 59px;
  left: calc(50% - 799px);
  width: 1612.5px;
  height: 104px;
}
.child8,
.icon14 {
  position: absolute;
  height: 15.35%;
  width: 26.22%;
  top: 12.68%;
  right: 22.74%;
  bottom: 71.97%;
  left: 51.04%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon14 {
  height: 57.06%;
  width: 52.08%;
  top: 11.1%;
  right: 47.05%;
  bottom: 31.84%;
  left: 0.87%;
}
.heart {
  margin: 0;
  width: 100%;
  top: 0;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.div38,
.div40,
.h14,
.heart {
  position: absolute;
  left: 0;
}
.h14 {
  margin: 0;
  width: 100%;
  top: 66.67%;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.div38,
.div40 {
  top: 0;
}
.div38 {
  width: 502px;
  height: 90px;
  font-size: var(--font-size-7xl);
}
.div40 {
  display: inline-block;
  width: 169px;
}
.div41 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
  font-family: var(--font-cascadia-code);
  color: var(--color-white);
  text-align: left;
}
.vector-icon9 {
  position: relative;
  width: 14px;
  height: 8px;
}
.button11 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-xl) var(--padding-11xl);
  background-color: transparent;
  position: absolute;
  top: 31px;
  left: 0;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  width: 169px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.div39,
.div43 {
  font-size: var(--font-size-base);
  font-family: var(--font-cascadia-code-pl);
}
.div39 {
  position: absolute;
  top: 150px;
  left: 0;
  width: 502px;
  height: 79px;
}
.div43 {
  position: relative;
  font-weight: 600;
  color: var(--color-white);
  text-align: center;
}
.button12,
.div42 {
  left: 0;
  height: 48px;
}
.button12 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-xl) var(--padding-11xl);
  background-color: transparent;
  position: absolute;
  top: 0;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  width: 169px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button12:hover {
  background-color: var(--color-palevioletred-300);
}
.div42 {
  top: 289px;
}
.div42,
.div44,
.h3,
.h56 {
  position: absolute;
  width: 502px;
}
.h3 {
  margin: 0;
  top: 0;
  left: calc(50% - 251px);
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.div44,
.h56 {
  left: 0;
}
.h56 {
  margin: 0;
  top: 38px;
  font-size: var(--font-size-base);
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
}
.div44 {
  top: 397px;
  height: 113px;
}
.p2 {
  margin: 0;
}
.div45,
.section3 {
  position: absolute;
  width: 502px;
}
.div45 {
  top: 570px;
  left: 0;
  height: 144px;
}
.section3 {
  top: calc(50% - 482.5px);
  left: 1002px;
  height: 804px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-cascadia-code);
}
.child9 {
  position: absolute;
  height: 79.78%;
  width: 101.27%;
  top: 0;
  right: -0.63%;
  bottom: 20.22%;
  left: -0.63%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.child10,
.child11,
.rectangle-div {
  position: absolute;
  height: 100%;
  width: 17.43%;
  top: 0.45%;
  right: 82.57%;
  bottom: -0.45%;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-palevioletred-100);
}
.child10,
.child11 {
  right: 61.97%;
  left: 20.6%;
  background-color: var(--color-palevioletred-200);
}
.child11 {
  right: 41.36%;
  left: 41.2%;
  background-color: var(--color-mediumvioletred);
}
.button13,
.div46,
.section4 {
  position: absolute;
  top: 691px;
  left: 0;
  width: 631px;
  height: 110px;
}
.button13,
.section4 {
  top: 309px;
  left: 149px;
  height: 801px;
}
.button13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  height: 100%;
  width: 9.46%;
  top: 0;
  right: 90.54%;
  bottom: 0;
  left: 0;
}
.h58 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.div47 {
  position: absolute;
  top: 28px;
  left: 1409px;
  width: 156px;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.vector-icon10 {
  position: absolute;
  bottom: 12px;
  left: calc(50% - 16.4px);
  width: 30px;
  height: 30px;
}
.whats-up2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  flex: 1;
  position: relative;
  height: 55px;
}
.vector-icon11 {
  position: absolute;
  bottom: 15.9px;
  left: calc(50% - 15px);
  width: 27.8px;
  height: 22.2px;
}
.icon16,
.vector-icon12 {
  position: absolute;
  bottom: 17px;
  left: calc(50% - 18.3px);
  width: 31.1px;
  height: 18.9px;
}
.icon16 {
  bottom: 11.4px;
  left: calc(50% - 16.3px);
  width: 30px;
  height: 30px;
}
.instagram-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 55px;
  height: 55px;
}
.instagram2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  position: relative;
  height: 55px;
}
.div48,
.footer2 {
  position: absolute;
}
.div48 {
  height: 53.92%;
  width: 18.59%;
  top: 23.53%;
  right: 39.42%;
  bottom: 22.55%;
  left: 41.98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.footer2 {
  bottom: 72px;
  left: calc(50% - 800px);
  width: 1565px;
  height: 102px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.div32 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 1577px;
  overflow: hidden;
}
