.button73,
.icon68 {
  position: absolute;
  bottom: 29.8px;
  left: 34.5px;
  width: 79.2px;
  height: 39.6px;
}
.button73 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  height: 98.08%;
  width: 9.18%;
  top: 1.92%;
  right: 90.82%;
  bottom: 0;
  left: 0;
}
.button74,
.vector-icon58 {
  position: absolute;
  top: 37px;
  right: 49px;
  width: 27px;
  height: 29.9px;
}
.button74 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  height: 100%;
  width: 7.75%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 92.25%;
}
.div284 {
  position: relative;
  font-weight: 300;
  cursor: pointer;
}
.nav14 {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 401.5px;
  width: 809px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cascadia-code);
}
.header14 {
  position: absolute;
  top: 64px;
  left: calc(50% - 798px);
  width: 1612.5px;
  height: 104px;
}
.child90 {
  position: absolute;
  height: 5.52%;
  width: 23.15%;
  top: 3.33%;
  right: 38.43%;
  bottom: 91.15%;
  left: 38.43%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div290,
.h115 {
  font-weight: 300;
}
.h115 {
  margin: 0;
  position: absolute;
  top: 5.75%;
  left: 46.93%;
  font-size: inherit;
  font-family: inherit;
}
.div290 {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-cascadia-code);
  color: var(--color-white);
  text-align: center;
}
.button75,
.button76 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-xl) var(--padding-11xl);
  position: absolute;
  top: 0;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  width: 169px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button75 {
  background-color: var(--color-palevioletred-300);
  left: 0;
}
.button76 {
  background-color: transparent;
  left: 225px;
}
.button76:hover,
.button77:hover,
.button78:hover,
.sale24:hover {
  background-color: var(--color-palevioletred-300);
}
.button77 {
  position: absolute;
  left: 450px;
}
.button77,
.button78,
.sale24 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padding-xl) var(--padding-11xl);
  background-color: transparent;
  top: 0;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  width: 169px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button78 {
  position: absolute;
  left: 675px;
}
.sale24 {
  left: 900px;
}
.div289,
.icon69,
.sale24 {
  position: absolute;
}
.div289 {
  top: calc(50% - 1764px);
  left: calc(50% - 534px);
  width: 1069px;
  height: 48px;
}
.icon69 {
  top: -100px;
  left: -83px;
  width: 1728px;
  height: 525px;
}
.child91,
.child92 {
  position: absolute;
  top: 0;
}
.child91 {
  height: 102.73%;
  width: 19.69%;
  right: 80.58%;
  bottom: -2.73%;
  left: -0.26%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.child92 {
  height: 100%;
  width: 19.16%;
  right: 53.89%;
  bottom: 0;
  left: 26.95%;
}
.child92,
.child93,
.child94 {
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.child93 {
  position: absolute;
  height: 110.24%;
  width: 21.12%;
  top: -3.41%;
  right: 25.96%;
  bottom: -6.83%;
  left: 52.91%;
}
.child94 {
  height: 102.73%;
  width: 19.69%;
  top: 0;
  right: -0.26%;
  bottom: -2.73%;
  left: 80.58%;
}
.child94,
.div294,
.h578 {
  position: absolute;
}
.div294 {
  top: 16px;
  left: 16px;
  width: 1529px;
  height: 293px;
}
.h578 {
  left: 0;
}
.h578,
.h579,
.h580 {
  margin: 0;
  top: 0;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  cursor: pointer;
}
.h579 {
  position: absolute;
  left: 31.86%;
}
.h580 {
  left: 63.73%;
}
.div295,
.h580,
.h581 {
  position: absolute;
}
.h581 {
  margin: 0;
  top: 0;
  left: 95.59%;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  cursor: pointer;
}
.div295 {
  top: 381px;
  left: 134px;
  width: 1293px;
  height: 19px;
}
.heart51,
.heart52,
.heart53 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 28.41%;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  cursor: pointer;
}
.heart52,
.heart53 {
  left: 90.36%;
}
.heart53 {
  left: 59.24%;
}
.div296 {
  position: absolute;
  top: 354px;
  left: 96px;
  width: 1369px;
  height: 19px;
}
.section23,
.section24 {
  position: absolute;
  top: 1094px;
  left: 83px;
  width: 1561px;
  height: 400px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cascadia-code);
}
.section24 {
  top: 1579px;
}
.child99 {
  position: absolute;
  height: 102.73%;
  width: 19.69%;
  top: 0;
  right: 80.58%;
  bottom: -2.73%;
  left: -0.26%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.section25,
.section26,
.section27,
.section28 {
  position: absolute;
  top: 2064px;
  left: 83px;
  width: 1561px;
  height: 400px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cascadia-code);
}
.section26,
.section27,
.section28 {
  top: 2549px;
}
.section27,
.section28 {
  top: 3034px;
}
.section28 {
  top: 3519px;
}
.button79 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  height: 100%;
  width: 9.46%;
  top: 0;
  right: 90.54%;
  bottom: 0;
  left: 0;
}
.h5102 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.div312 {
  position: absolute;
  top: 28px;
  left: 1409px;
  width: 156px;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.vector-icon59 {
  position: absolute;
  bottom: 12px;
  left: calc(50% - 16.4px);
  width: 30px;
  height: 30px;
}
.whats-up14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro);
  flex: 1;
  position: relative;
  height: 55px;
}
.vector-icon60 {
  position: absolute;
  bottom: 15.9px;
  left: calc(50% - 15px);
  width: 27.8px;
  height: 22.2px;
}
.icon76,
.vector-icon61 {
  position: absolute;
  bottom: 17px;
  left: calc(50% - 18.3px);
  width: 31.1px;
  height: 18.9px;
}
.icon76 {
  bottom: 11.4px;
  left: calc(50% - 16.3px);
  width: 30px;
  height: 30px;
}
.instagram-child12 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 55px;
  height: 55px;
}
.instagram14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  position: relative;
  height: 55px;
}
.div313 {
  position: absolute;
  height: 53.92%;
  width: 18.59%;
  top: 23.53%;
  right: 39.42%;
  bottom: 22.55%;
  left: 41.98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.div283,
.footer13,
.section29 {
  text-align: left;
  color: var(--color-white);
}
.footer13 {
  position: absolute;
  bottom: 72px;
  left: calc(50% - 800px);
  width: 1565px;
  height: 102px;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.div283,
.section29 {
  font-family: var(--font-cascadia-code);
}
.section29 {
  position: absolute;
  top: 609px;
  left: 83px;
  width: 1561px;
  height: 400px;
  font-size: var(--font-size-base);
}
.div283 {
  position: relative;
  background-color: var(--color-gray-100);
  width: 100%;
  height: 4382px;
  overflow: hidden;
  font-size: var(--font-size-7xl);
}
